.main {
	display: inline-flex;
	width: 100%;
}
#formHide{
	display: none;
}

#content {
	width: 30%;
}
.screen{
	height: 46%;
  
}
#iframe {
	width: 70%;
  /*! height: 100%; */
}
#screen1{
	border-style: solid;
  	overflow-y: scroll;
}

iframe{
	width: 100%;
	height: 100%;
}
